/.env.testing
/.phpstorm.meta.php
/vendor
/node_modules
.env
.idea
installed
/.settings/
/.project
/.buildpath
/composer.phar
_ide_helper.php
*.swp
/bootstrap/cache/*
_ide_helper_models.php
Attendize.iml
storage/debugbar/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
